body
{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0 ;
    background-color: rgb(83, 83, 255);
}
.container
{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.position
{
    position: relative; 
    width: 600px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}
#photo
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 8px; 
  margin-top: 50px;
  display: none;
}
.taker
{
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 1fr) ;
}
#search
{
    width: 300px;
    height: 30px ;
    margin-top: 40px ;
    font-size: 20px ;
}
#button_search
{
    width: 100px;
    height: 35px ;
    font-size: 20px ;
}
#temperature
{
    position: absolute;
    grid-column: 1 ; grid-row: 1 ;
    font-size: 40px ;
    margin-top: 0 ;
    z-index: 2 ;
    top: 0px ;
    left: 30px  ;
    color: rgb(255, 255, 255);
}
#place
{
    position: absolute;
    font-size: 16px;
    top: 0px ;
    left: 50px  ;
    grid-column: 1 ; grid-row: 1 ;
    margin-top: 60px ;
    z-index: 2 ;
    color: rgb(255, 255, 255);
}
#A0
{
    position: absolute;
    grid-column: 1 ; grid-row: 1 ;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 200px;
    height: 134px ;
    border-radius: 20px ;
    margin: 0 ;
    z-index: 1 ;
    display: none;
}
#time
{
    position: absolute;
    font-size: 16px;
    top: 0px ;
    left: 30px  ;
    grid-column: 3 ; grid-row: 1 ;
    margin-top: 40px ;
    z-index: 2 ;
    color: rgb(255, 255, 255);
}
#A1
{
    position: absolute;
    grid-column: 3 ; grid-row: 1 ;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 200px;
    height: 134px ;
    border-radius: 20px ;
    margin: 0 ;
    z-index: 1 ;
    display: none;
}
#image_icon
{
    position: absolute;
    grid-column: 1 ; grid-row: 2 ;
    margin-top: 30px ;
    z-index: 2 ;
}
#A2
{
    position: absolute;
    grid-column: 1 ; grid-row: 2 ;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 100px;
    height: 110px ;
    top: 10px ;
    border-radius: 20px ;
    margin: 0 ;
    z-index: 1 ;
    display: none;
}
#humidity
{
    position: absolute;
    font-size: 16px;
    top: 0px ;
    left: 50px  ;
    z-index: 2 ;
    grid-column: 1 ; grid-row: 3 ;
    margin-top: 20px ;
    color: rgb(255, 255, 255);
}
#wind
{
    position: absolute;
    font-size: 16px;
    top: 0px ;
    left: 50px  ;
    z-index: 2 ;
    grid-column: 1 ; grid-row: 3 ;
    margin-top: 40px ;
    color: rgb(255, 255, 255);
}
#description
{
    position: absolute;
    font-size: 16px;
    top: 0px ;
    left: 50px  ;
    z-index: 2 ;
    grid-column: 1 ; grid-row: 3 ;
    margin-top: 60px ;
    color: rgb(255, 255, 255);
}
#A3
{
    position: absolute;
    grid-column: 1 ; grid-row: 3 ;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 200px;
    height: 134px ;
    border-radius: 20px ;
    margin: 0 ;
    z-index: 1 ;
    display: none;
}

@media (max-width: 630px) {
  div 
  .container
{
    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.position
{
    position: relative; 
    width: 300px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
#photo
{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
  border-radius: 8px; 
  margin-top: 20px;
  display: none;
}
.taker
{
    display: grid;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(3 , 1fr);
    grid-template-rows: repeat(3 , 1fr) ;
}
#search
{
    width: 150px;
    height: 15px ;
    margin-top: 20px ;
    font-size: 10px ;
}
#button_search
{
    width: 60px;
    height: 20px ;
    font-size: 10px ;
}
#temperature
{
    position: absolute;
    grid-column: 1 ; grid-row: 1 ;
    font-size: 20px ;
    margin-top: 0 ;
    z-index: 2 ;
    top: 0px ;
    left: 15px  ;
    color: rgb(255, 255, 255);
}
#place
{
    position: absolute;
    font-size: 8px;
    top: 0px ;
    left: 25px  ;
    grid-column: 1 ; grid-row: 1 ;
    margin-top: 30px ;
    z-index: 2 ;
}
#A0
{
    position: absolute;
    grid-column: 1 ; grid-row: 1 ;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 100px;
    height: 65px ;
    border-radius: 10px ;
    margin: 0 ;
    z-index: 1 ;
    display: none;
}
#time
{
    position: absolute;
    font-size: 8px;
    top: 0px ;
    left: 15px  ;
    grid-column: 3 ; grid-row: 1 ;
    margin-top: 20px ;
    z-index: 2 ;
    color: rgb(255, 255, 255);
}
#A1
{
    position: absolute;
    grid-column: 3 ; grid-row: 1 ;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 100px;
    height: 65px ;
    border-radius: 10px ;
    margin: 0 ;
    z-index: 1 ;
    display: none;
}
#image_icon
{
    position: absolute;
    grid-column: 1 ; grid-row: 2 ;
    width: 50px ;
    margin-top: 15px ;
    z-index: 2 ;
}
#A2
{
    position: absolute;
    grid-column: 1 ; grid-row: 2 ;
    background: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 50px;
    height: 55px ;
    top: 6px ;
    border-radius: 10px ;
    margin: 0 ;
    z-index: 1 ;
    display: none;
}
#humidity
{
    position: absolute;
    font-size: 8px;
    top: 0px ;
    left: 25px  ;
    z-index: 2 ;
    grid-column: 1 ; grid-row: 3 ;
    margin-top: 10px ;
    color: rgb(255, 255, 255);
}
#wind
{
    position: absolute;
    font-size: 8px;
    top: 0px ;
    left: 25px  ;
    z-index: 2 ;
    grid-column: 1 ; grid-row: 3 ;
    margin-top: 20px ;
    color: rgb(255, 255, 255);
}
#description
{
    position: absolute;
    font-size: 8px;
    top: 0px ;
    left: 25px  ;
    z-index: 2 ;
    grid-column: 1 ; grid-row: 3 ;
    margin-top: 30px ;
    color: rgb(189, 189, 189);
}
#A3
{
    position: absolute;
    grid-column: 1 ; grid-row: 3 ;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    width: 100px;
    height: 65px ;
    border-radius: 10px ;
    margin: 0 ;
    z-index: 1 ;
    display: none;
}
}
