body {
    font-family: "Segoe UI", sans-serif;
    background: #f5f5f5;
    margin: 0;
    padding: 20px;
    color: #333;
  }

  h1 {
    text-align: center;
    color: #444;
    margin-bottom: 30px;
  }

  #bar {
    display: block;
    width: 80%;
    max-width: 500px;
    margin: 0 auto 25px;
    padding: 10px 15px;
    border: 2px solid #aaa;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.2s;
  }
  #bar:focus {
    border-color: #4CAF50;
    outline: none;
  }

  #result {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 15px;
    padding: 10px;
  }

  .ibn {
    background: rgb(255, 255, 255);
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.4);
    text-align: center;
    transition: transform 0.2s;
  }
  .ibn:hover {
    transform: scale(1.08);
  }

  .ibn img {
    border-radius: 8px;
    margin-top: 8px;
  }

  #taman {
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    margin: 30px auto;
    max-width: 600px;
    padding: 15px;
    text-align: center;
  }

  button {
    margin: 6px;
    padding: 8px 14px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    font-weight: bold;
  }

  .button_delete { background-color: #6b6b6b; }
  #button_go_add_book ,#GO_Back
  {
    background-color: red;
    color: rgb(255, 255, 255); 
  }
  button:hover {
    opacity: 0.85;
  }

  #boss {
    background: white;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    max-width: 500px;
    margin: 20px auto;
    color: rgb(15, 91, 0);
  }

  label {
    display: block;
    margin-top: 10px;
  }

  input[type="text"], input[type="file"] {
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  #TT , #TT0
  {
    margin-top: 7px ;
    display: flex;
  }
  #add_1 {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    background: #3498db;
    padding: 10px 16px;
  }

  #cancel_1 {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    background: #3498db;
    padding: 10px 16px;
  }

  